h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
  color: rgb(37, 37, 136);
}
body {
  padding: 10px;
}
table,
tr,
td,
th {
  padding: 5px;
  border: 1px solid gray;
  margin-top: 20px;
  margin-bottom: 20px;
}
th {
  background-color: #ddd;
}

.dados-pessoais {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#dados {
  margin-left: 15px;
}
